<main>
    <div class="account-container">
      <div class="account-details">
        <h2>Reset Password</h2>
        <form [formGroup]="resetPasswordForm" (ngSubmit)="sendOtp()">
          
          <label for="email">Email</label>
          <input
            formControlName="email"
            type="email"
            id="email"
            placeholder="Enter your registered email"
            required
          />

          <label for="password">New password</label>
          <input
            formControlName="password"
            type="password"
            id="password"
            placeholder="Enter new password"
            required
          />
  
          <button type="submit" style="width: 100%;">Send OTP</button>
          
          <div class="alternate-login" style="text-align: center; margin-top: 20px;">
            Remembered your password? <a routerLink="/login">Login</a>
          </div>
        </form>
      </div>
    </div>
  </main>
  
  <!-- OTP Modal -->
  <app-otp-modal *ngIf="showOtpModal" 
    [email]="resetPasswordForm.value.email" 
    (otpVerified)="handleOtpVerification($event)">
  </app-otp-modal>
  