<div class="container">

  <div class="row">

    <div class="col mt-5">
      <div class="d-flex justify-content-between align-items-center mt-4">
        <h2 class="text-primary ">Passengers List</h2>

      </div>

      <table id="example2" class="table table-hover">
        <thead>
          <tr>
            <th>Name</th>
            <th>Contact</th>
            <th>Email</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>

          <tr *ngFor="let passenger of passengers">
            <td data-label="Name">{{passenger.name}}</td>
            <td data-label="Contact">{{passenger.phone}}</td>
            <td data-label="Description">{{passenger.email}}</td>
            <td data-label="Action">
              <button class="btn btn-danger" (click)="deleteUser(passenger.userId)">Delete</button>
              <button class="btn m-1" 
                        [ngClass]="passenger.enabled ? 'btn-warning' : 'btn-success'" 
                        (click)="toggleUserStatus(passenger.userId, passenger.enabled)">
                  {{ passenger.enabled ? 'Deactivate' : 'Activate' }}
                </button>
            </td>
          </tr>

        </tbody>
      </table>



      <div class="pagination-buttons">
        <button class="page-btn" *ngFor="let page of pageNumbers" (click)="changePage(page)"
          [class.active]="page == selectedPage">{{page}}</button>
      </div>
    </div>
  </div>
</div>