
<main>
    <div class="account-container">
      <div class="account-details">
        <h2>Account Information</h2>
        <form [formGroup]="accountForm" (ngSubmit)="update()">
          <label for="name">Name</label>
          <input formControlName="name" type="text" id="name" placeholder="Enter your name" required />
  
          <label for="email">Email</label>
          <input formControlName="email" type="email" id="email" placeholder="Enter your email" required />
  
           <label for="phone">Phone</label>
          <input formControlName="phone" type="text" id="phone" placeholder="Enter your phone number" required />
  
          <label for="role">Role</label>
          <div class="radio-group">
            <input type="radio" id="user" value="user" formControlName="role" />
            <label for="user">Passenger</label>
  
            <input type="radio" id="driver" value="driver" formControlName="role" />
            <label for="driver">Driver</label>
          </div>
  
          <button type="submit">Update</button>
        </form>
      </div>
    </div>
  </main>
  
  <!-- OTP Modal -->
  <app-otp-modal *ngIf="showOtpModal" 
    [email]="accountForm.value.email" 
    (otpVerified)="handleOtpVerification($event)">
  </app-otp-modal>
  