<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css' rel='stylesheet' />

  <!-- <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet"> -->
</head>

<body>
  <div *ngIf="isLoggedIn">
    <header>
      <div class="top-bar">
        <img src="./../assets/ridepsu.png" alt="Logo" class="logo">
        <nav>
          <ul>
            <li><a routerLink="{{isPassenger ? '/home':'/driverDash'}}">Home</a></li>
            <li><a routerLink="/map">Live Tracking</a></li>
            
  <div *ngIf="isPassenger">
            <li><a routerLink="/schedules">Schedules</a></li>
  </div>

            <!-- Account Dropdown -->
            <li class="dropdown">
              <a class="user-profile" (click)="toggleDropdown()">

                Account
                <mat-icon class="dropdown-arrow" style="height: 16px;">
                  {{ showDropdown ? 'expand_less' : 'expand_more' }}
                </mat-icon>
              </a>
              <ul class="dropdown-menu" *ngIf="showDropdown">
                <div *ngIf="isPassenger">
                <li (click)="toggleDropdown()" routerLink="/myBookings"><a>View Booking</a></li>
              </div>
                <li (click)="toggleDropdown()" routerLink="/edit-user"><a>Edit Account</a></li>
              </ul>
            </li>

            <li (click)="logout()">
              <a class="user-profile"><i class="fas fa-sign-out-alt"></i> Log Out</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>

  </div>
  <router-outlet></router-outlet>
</body>

</html>