<section class="banner">    <img src="./../assets/ridepsubanner.jpeg" alt="Shuttle Services Banner" class="banner-image">

</section>

<main>
    <section class="live-tracking">
        <h2>Live Tracking</h2>
        <p><strong>ETA for next booking is: </strong> {{ eta }}</p>
        <br>
        <div class="tracking-container">
            <div class="booking-details" *ngIf="booking">
                <h3>Upcoming Booking</h3>
                <p><strong>Date:</strong> {{ booking?.date }}</p>
                <p><strong>Time:</strong> {{ booking?.time }}</p>
                <p><strong>Pickup:</strong> {{ booking?.pickup }}</p>
                <p><strong>Dropoff:</strong> {{ booking?.dropoff }}</p>
                <p><strong>Transport:</strong> {{ booking?.transportType }}</p>
                <p *ngIf="!isDriver"><strong>Driver:</strong> {{ booking?.driverName }}</p>

                
                <label *ngIf="isDriver" for="delayTime">Delay Time (minutes):</label>
                <input *ngIf="isDriver" type="number" id="delayTime" [(ngModel)]="delayTimer" min="1" max="60" class="styled-input">
                <button *ngIf="isDriver" (click)="delayBooking()" class="styled-button delay">Delay Booking</button>
                <p *ngIf="delayTimer > 0">Booking delayed for: {{ delayTimer }} minutes</p>

                <button *ngIf="isDriver && !isRideActive" (click)="startRide()" class="styled-button start">Start
                    Ride</button>
                <button *ngIf="isDriver && isRideActive" (click)="stopRide()" class="styled-button stop">Stop
                    Ride</button>
            </div>

            <div id="map-container">
                <div id="map" class="match-parent"></div>
            </div>
        </div>

    </section>
</main>